[submodule "third_party/cmsis-device-f4"]
	path = third_party/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis-device-f4.git
[submodule "third_party/stm32f4xx-hal-driver"]
	path = third_party/stm32f4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f4xx-hal-driver.git
[submodule "third_party/CMSIS_6"]
	path = third_party/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
